# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
vacay="output_data/cities.csv"
v_df = pd.read_csv(vacay)
v_df

               City    Lat     Lng  Humidity  Cloudiness  WindSpeed  Temps
0            atuona  -9.80 -139.03        75           3      21.54  78.94
1             vaini -21.20 -175.20        74          20      12.75  80.60
2      punta arenas -53.15  -70.92        81          90       9.17  48.20
3    ribeira grande  38.52  -28.70        68          42      21.23  61.48
4      kruisfontein -34.00   24.73        83         100       7.00  68.00
..              ...    ...     ...       ...         ...        ...    ...
586      masallatah  32.62   14.00        63          33       9.51  66.06
587  cap-aux-meules  47.38  -61.86        40           0      14.99  33.80
588           muzhi  65.37   64.67        86          39      17.60  35.58
589         cayenne   4.93  -52.33       100          90       3.36  77.00
590            kant  27.80   79.80        30           0       2.44  63.14

[591 rows x 7 columns]

In [10]:
locations = v_df[["Lat", "Lng"]]
H_rating = v_df["Humidity"].astype(float)

In [ ]:
fig = gmaps.figure()

In [5]:
no_wind_df = v_df.loc[v_df["WindSpeed"] <10, :]
no_wind_df

             City    Lat     Lng  Humidity  Cloudiness  WindSpeed  Temps
2    punta arenas -53.15  -70.92        81          90       9.17  48.20
4    kruisfontein -34.00   24.73        83         100       7.00  68.00
5         ushuaia -54.80  -68.30        36           0       4.70  64.40
7      solnechnyy  50.72  136.63        82           2       0.98  20.07
8        sabzevar  36.21   57.68        36           0       5.57  51.71
..            ...    ...     ...       ...         ...        ...    ...
581   belaya gora  68.53  146.42        80          38       4.83 -17.52
582       morlaix  48.58   -4.00        81           0       8.05  51.01
586    masallatah  32.62   14.00        63          33       9.51  66.06
589       cayenne   4.93  -52.33       100          90       3.36  77.00
590          kant  27.80   79.80        30           0       2.44  63.14

[408 rows x 7 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
gmaps.configure(api_key=gkey)

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure